// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cta-button a {
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}

.appearing {
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}

td .panel.callout {
  margin-bottom: 0px;
  text-align: center;
}